<nav class="navbar navbar-light bg-primary">
  <div class="container">
    <h1 style="color: white">Single User Details</h1>
    <button type="button" class="btn btn-primary" (click)="onBack()">
      Back
    </button>
  </div>
</nav>
<div class="container-fluid img" style="width: 100%">
  <div class="container pt-4">
    <table class="table table-hover table-info table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Phone</th>
          <th scope="col">Gender</th>
          <th scope="col">Reg_Date</th>
          <th scope="col">Satus</th>
        </tr>
      </thead>
      <tbody class="table-striped">
        <tr *ngFor="let item of user">
          <td>{{ item.user_id }}</td>
          <td>{{ item.user_name }}</td>
          <td>{{ item.user_email }}</td>
          <td>{{ item.user_pwd }}</td>
          <td>{{ item.user_phone_no }}</td>
          <td>{{ item.user_gender }}</td>
          <td>{{ item.user_reg_date }}</td>
          <td>{{ item.user_satus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
